body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  margin-bottom: 30px !important;
  margin-top: 20px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: transparent;
  border: none;
}

#my-label{
  display: flex !important;
  gap: 5px;
  width: 100%;
  flex-direction: column;
}

.filter>div>div {
  min-width: 200px;
  max-width: 300px;
}

/* td{
  word-break: break-all;
  max-width: 200px;
  width: auto;
} */

/* th{
  width: fit-content;
} */