
.vs/pis/config/applicationhost.config
.vs/pis/DesignTimeBuild/.dtbcache.v2
.vs/pis/FileContentIndex/7f24f014-39df-45c0-a81a-0ee5d412c6f5.vsidx
.vs/pis/FileContentIndex/3fbcc709-4a27-45bb-b046-a007cddf8ab5.vsidx
.vs/pis/FileContentIndex/b97f2b86-8978-4a7f-9cd5-5444e858aa0e.vsidx
.vs/pis/FileContentIndex/37de4a1c-6231-46ca-b994-e478b3d71acc.vsidx
.vs/pis/FileContentIndex/26fb5a1e-57cc-479e-9fc7-547452db5b0c.vsidx
.vs/pis/FileContentIndex/5fd4a4cb-6782-4e8c-9459-9113ee0caa2a.vsidx
.vs/pis/FileContentIndex/ac0be467-adbe-41e9-8a26-988b7b806bea.vsidx
.vs/pis/FileContentIndex/60302cd4-5850-42f6-beda-691f8a486906.vsidx
.vs/pis/FileContentIndex/a62df768-9c6b-4681-8160-8b9cdbd70c98.vsidx
*.vsidx
.vs/pis/v17/TestStore/0/000.testlog
.vs/pis/v17/TestStore/0/testlog.manifest
bin/Debug/net7.0/pis.dll
bin/Debug
*.user
obj/project.nuget.cache
obj/project.assets.json
obj/pis.csproj.nuget.g.targets
obj/pis.csproj.nuget.g.props
obj/pis.csproj.nuget.dgspec.json
obj/Debug