@model pis.Models.Animal


<h2>Добавление животного</h2>
<form asp-action="AddEntry" asp-controller="Animal">
    @* <p> *@
    @*     <label asp-for="RegistrationNumber">Регистрационный номер </label><br /> *@
    @*     <input type="number" asp-for="RegistrationNumber" /> *@
    @* </p> *@
    <p>
        <label asp-for="Locality">Населённый пункт</label><br />
        <input type="text" asp-for="Locality" />
    </p>
    <p>
        <label asp-for="AnimalCategory">Категория животного</label><br />
        <input type="text" asp-for="AnimalCategory" />
    </p>
    <p>
        <label asp-for="Gender">Пол животного</label><br />
        <input type="text" asp-for="Gender" />
    </p>
    <p>
        <label asp-for="YearOfBirth">Год рождения</label><br />
        <input type="number" asp-for="YearOfBirth" />
    </p>
    <p>
        <label asp-for="ElectronicChipNumber">Номер электронного чипа</label><br />
        <input type="number" asp-for="ElectronicChipNumber" />
    </p>
    <p>
        <label asp-for="AnimalName">Кличка животного</label><br />
        <input type="text" asp-for="AnimalName" />
    </p>
    <p>
        <label asp-for="Photos">Фотографии</label><br />
        <input type="text" asp-for="Photos" />
    </p>
    <p>
        <label asp-for="SpecialSigns">Особые приметы</label><br />
        <input type="text" asp-for="SpecialSigns" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>