@model pis.Models.StatisticsItem

<h2>Статистика вакцинаций</h2>

@using (Html.BeginForm("ExportStatisticsToExcel", "Statistica", FormMethod.Get))
{
    <div class="form-group">
        @Html.LabelFor(model => model.StartDate)
        @Html.TextBoxFor(model => model.StartDate, new { type = "date", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndDate)
        @Html.TextBoxFor(model => model.EndDate, new { type = "date", @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Экспорт в Excel</button>
}


