@model pis.Models.Organisation


<h2>Добавление Организации</h2>
<form asp-action="AddEntry" asp-controller="Organisation">
    <p>
        <label asp-for="OrgId">Код организации</label><br/>
        <input type="number" asp-for="OrgId"/>
    </p>
    <p>
        <label asp-for="OrgName">Название организации</label><br/>
        <input type="text" asp-for="OrgName"/>
    </p>
    <p>
        <label asp-for="INN">ИНН</label><br/>
        <input type="number" asp-for="INN"/>
    </p>
    <p>
        <label asp-for="KPP">КПП</label><br/>
        <input type="number" asp-for="KPP"/>
    </p>
    <p>
        <label asp-for="AdressReg">Адрес регистрации</label><br/>
        <input type="text" asp-for="AdressReg"/>
    </p>
    <p>
        <label asp-for="TypeOrg">Тип организации</label><br/>
        <select name="organizationType" asp-for="TypeOrg">
            <option value="Исполнительный орган государственной власти">Исполнительный орган государственной власти</option>
            <option value="Орган местного самоуправления">Орган местного самоуправления</option>
            <option value="Приют">Приют</option>
            <option value="Организация по отлову">Организация по отлову</option>
            <option value="Организация по отлову и приют">Организация по отлову и приют</option>
            <option value="Организация по транспортировке">Организация по транспортировке</option>
            <option value="Ветеринарная клиника: государственная">Ветеринарная клиника: государственная</option>
            <option value="Ветеринарная клиника: муниципальная">Ветеринарная клиника: муниципальная</option>
            <option value="Ветеринарная клиника: частная">Ветеринарная клиника: частная</option>
            <option value="Благотворительный фонд">Благотворительный фонд</option>
            <option value="Организации по продаже товаров и предоставлению услуг для животных">Организации по продаже товаров и предоставлению услуг для животных</option>
            <option value="Заявитель">Заявитель</option>
        </select>
        @* <input type="text" asp-for="TypeOrg"/> *@
    </p>
    <p>
        <label asp-for="OrgAttribute">?????????</label><br/>
        <input type="text" asp-for="OrgAttribute"/>
    </p>
    <p>
        <label asp-for="Locality">Населенный пункт</label><br/>
        <input type="text" asp-for="Locality"/>
    </p>
    <p>
        <input type="submit" value="Отправить"/>
    </p>
</form>