@model pis.Models.Organisation

<link rel="stylesheet" href="~/css/ChangeEntry.css" />

<div class="form-container">
    <form class="form" asp-action="ChangeEntry" asp-controller="Organisation" asp-route-id="@Model.OrgId">
        <h2>Редактирование организации</h2>
        <p>
            <label asp-for="OrgId">Код организации</label><br />
            <input type="number" readonly="readonly" asp-for="OrgId" />
        </p>
        <p>
            <label asp-for="OrgName">Название организации</label><br />
            <input type="text" asp-for="OrgName" />
        </p>
        <p>
            <label asp-for="INN">ИНН</label><br />
            <input type="number" asp-for="INN" />
        </p>
        <p>
            <label asp-for="KPP">КПП</label><br />
            <input type="number" asp-for="KPP" />
        </p>
        <p>
            <label asp-for="AdressReg">Адресс регистрации</label><br />
            <input type="text" asp-for="AdressReg" />
        </p>
@*        <p>
            <label asp-for="TypeOrg">Тип организации</label><br />
            <input type="text" asp-for="TypeOrg" />
        </p>
        <p>
            <label asp-for="OrgAttribute">?????????</label><br />
            <input type="text" asp-for="OrgAttribute" />
        </p>*@
        <p>
            <label asp-for="Locality">Населенный пункт</label><br />
            <input type="text" asp-for="Locality" />
        </p>
        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </form>
</div>