@model pis.Models.Contracts

<h2>Редактирование животного</h2>
<form asp-action="ChangeEntry" asp-controller="Contracts" asp-route-id="@Model.ContractsId">
    <p>
        <label asp-for="ContractsId">Номер контракта </label><br />
        <input type="number" readonly="readonly" asp-for="ContractsId" />
    </p>
    <p>
        <label asp-for="ConclusionDate">Дата заключения</label><br />
        <input type="date" asp-for="ConclusionDate" />
    </p>
    <p>
        <label asp-for="ExpirationDate">Дата действия</label><br />
        <input type="date" asp-for="ExpirationDate" />
    </p>
    <p>
        <label asp-for="Performer">Исполнитель</label><br />
        <input type="text" asp-for="Performer" />
    </p>
    <p>
        <label asp-for="Customer">Заказчик</label><br />
        <input type="text" asp-for="Customer" />
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>